<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" >Forge Camp Booking</a>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" *ngIf="isAdminFlag" routerLink="/Camp/CreateCamp"
          >Add Camp</a
        >
      </li>

      <li class="nav-item active">
        <a
          class="nav-link"
          *ngIf="isAdminFlag"
          routerLink="/ManageCamp/AllCamps"
          >Manage Camps</a
        >
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/Camp/AllCampDetails">Show Camps</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/manageBooking">Manage Booking</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="!isAdminFlag" routerLink="/AdminLogin"
          >Admin Login</a
        >
      </li>
      <li class="nav-item active">
        <a
        
          class="nav-link"
          *ngIf="isAdminFlag"
          routerLink="/AdminLogin"
          (click)="logOut()"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
