<form
  class="form-inline"
  [formGroup]="bookManageForm"
  (ngSubmit)="OnFormSubmit()"
>
  <div class="form-group mb-2">
    <label for="ReferenceNumber">Booking Reference Number: </label>
    <input
      type="text"
      class="form-control"
      id="ReferenceNumber"
      formControlName="referencenumber"
      placeholder="Booking Reference Number"
      [ngClass]="getControlValidationClasses(referencenumberControl)"
      required
    />
    <div class="valid-feedback" *ngIf="textControl.valid">
        Looks good!
      </div>
      <div
        class="invalid-feedback"
        *ngIf="textControl.touched && textControl.errors?.required">
        This field is required
      </div>
  </div>

  <button type="submit" class="btn btn-primary mb-2"    [disabled]="bookManageForm.invalid">Find Booking</button>
</form>
