<div *ngIf="isLoginError" class="red-text center error-message">
  Incorrect User name or password !!!
</div>
<form [formGroup]="loginForm" class="form-group" (ngSubmit)="OnSubmit()">
  <h2>Admin Login Form</h2>
  <div>
    <label for="UserName">User Email</label>
    <input
      type="email"
      class="form-control"
      id="Email"
      formControlName="Email"
      placeholder="Enter Email Id"
      required
    />
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input
      type="password"
      class="form-control"
      id="Password"
      formControlName="Password"
      placeholder="Enter Password"
      required
    />
  </div>

  <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">
    Submit
  </button>
</form>
