<div class="row">
  <div class="col-md-3">
    <form
      class="needs-validation FilterCamps"
      novalidate
      [formGroup]="FilterCamps"
      (ngSubmit)="onFormSubmit()"
    >
      <div
        class="card text-white bg-dark mb-3"
        style="max-width: 14rem; max-height: 25rem;"
      >
        <div class="card-header">Search</div>
        <div class="card-body">
          <div class="row filterControls">
            <div class="col">CheckInDate</div>

            <input
              type="date"
              id="CheckInDate"
              [value]="checkIn"
              formControlName="checkInDate"
              [ngClass]="getControlValidationClasses(checkInControl)"
            />
            <div class="valid-feedback" *ngIf="textControl.valid">
              Looks good!
            </div>
            <div
              class="invalid-feedback"
              *ngIf="textControl.touched && textControl.errors?.required"
            >
              This field is required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="checkInControl.touched && checkInControl.errors?.required"
            >
              This field is required
            </div>
          </div>

          <div class="row filterControls">
            <div class="col">CheckOutDate</div>

            <input
              type="date"
              id="CheckOutDate"
              [value]="checkOut"
              formControlName="checkOutDate"
              [ngClass]="getControlValidationClasses(checkOutControl)"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                checkOutControl.touched && checkOutControl.errors?.required
              "
            >
              This field is required
            </div>
          </div>

          <div class="row">
            <div class="col">Capacity</div>
            <div class="col-md-6">
              <select formControlName="capacity">
                <option [value]="0" class="dropDown"
                  >Any</option
                >
                <option
                  *ngFor="let capacity of populateFilter()"
                  [value]="capacity"
                >
                  {{ capacity }}
                </option>
              </select>
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-secondary">Filter</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-9">
    <div style="float: left; width: 100%;">
      <div class="card-group card-deck">
        <div
          *ngFor="
            let camp of CampList
              | paginate
                : {
                    id: 'pagination',
                    itemsPerPage: 6,
                    currentPage: page,
                    totalItems: totalRecords
                  }
          "
        >
          <div class="card" style="width: 20rem; margin: 10px;">
            <img class="card-img-top" [src]="camp.image" alt="Card image cap" />
            <div class="card-body">
              <div class="row">
               <h5 class="card-title">{{ camp.title }}</h5>
              </div>
              <span class="text-success">About Camp: </span><p class="card-text">{{ camp.description }}</p>
              <div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Amount</th>
                      <th scope="col">Capacity</th>
                      <th scope="col">Rating</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ camp.amount | currency: "INR" }}</td>
                      <td>{{ camp.capacity }}</td>
                      <td>
                        <ul
                          class="list-inline custom-star"
                          *ngFor="let star of printStars(camp)"
                          style="display: inline-block;"
                        >
                          <li>
                            <i class="fa fa-star"></i>
                          </li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <button
                  style="margin-left: 70px; margin-top: -20px;"
                  class="btn btn-outline-success my-2 my-sm-0"
                  (click)="bookMyCamp(camp)"
                >
                  Book Camp
                </button>
              </div>
            </div>
          </div>
        </div>
        <pagination-controls
          id="pagination"
          maxSize="5"
          directionLinks="true"
          (pageChange)="page = $event"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
