body {
    background-image: url("C:\Users\ankitrana\Documents\images\background.jpg");
    
   }

  input.ng-invalid.ng-dirty{
      border-bottom-color: red ;
      box-shadow: 0 1px 0 0 red ;
  } 

  div.error-message i{
      vertical-align: middle ;
  }